html {
    height: 100%;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #382c25;
	text-align: center;
	height: 100%;
	}
a {
	text-decoration: none;
	font-weight: bold;
	color:  #ccc;
	outline: none;
	}
a:visited {
	color:  #ccc;
	}
a:active {
	color:  #ccc;
	}
a:hover {
	color: #ccc;
	text-decoration: underline;
	}
.ahem {
	display: none;
	}
strong, b {
	font-weight: bold;
	}
p {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}

h1 {
	font-size: 24px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h2 {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h4 {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
	
.message {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
	}
    
h5 {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h6 {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
img {
	border: 0;
	}
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
.tiny {
	font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
	}
#content {
	padding: 10px;
	margin-top: 100px;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto; 	
	border: 5px solid #ccc;
	text-align:left; 
	width: 465px; 	
}

#wrap {min-height: 100%;}
#main {overflow:auto;
	padding-bottom: 50px;}
#footer {
    position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
}

pre {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}